
body {
    font-family: Helvetica, sans-serif, Georgia, "Times New Roman", Times, serif;
    color: #555;
    background-color: #f5f5f5;
}

.form-label {
    padding-top: 8px;
}

.form-group {
    margin: 10px;
}

.query-selector-id {
    margin: 10px;
}

.query-selector-positioning-select {
    width: 100%;
}

.add-new-query-selector-button, .add-new-media-query-button {
    margin-left: 10px;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

td, th {
    padding: 10px;
}

.media-query-table {
    width: 100%;
    table-layout: fixed;

}

.css-rules-table td > input {
    width: 100%;
}

.css-rules-table {
    width: 100%;
    table-layout: fixed;
}

/*

RESPONSTABLE 2.0 by jordyvanraaij
  Designed mobile first!

If you like this solution, you might also want to check out the 1.0 version:
  https://gist.github.com/jordyvanraaij/9069194

*/
.responstable {
    margin: 1em 0;
    background: #FFF;
    color: #024457;
    border-radius: 10px;
    border: 1px solid #167F92;
}

.responstable tr {
    border: 1px solid #D9E4E6;
}

.responstable tr:nth-child(odd) {
    background-color: #EAF3F3;
}

.responstable th {
    border: 1px solid #FFF;
    background-color: #167F92;
    color: #FFF;
}

.responstable th:first-child {
    text-align: center;
}

.responstable td:first-child {
    text-align: center;
    border-right: 1px solid #D9E4E6;
}

.responstable td > input {
    direction: ltr;
}

.responstable th, .responstable td {
    margin: .5em 1em;
}

input[type=checkbox] {
    width: 20px;
    height: 20px;
}

#method-choose {
    margin-right: 30px;
    margin-top: 30px;
}

#new-file-method-container {
    margin: 30px;
}

.hidden {
    display: none;
}

.script-form {
    border: 1px solid black;
    margin: 10px 10px 50px;
}

#new-script-type-select {
    width: 600px;
}

.script-form-heading {
    padding-right: 10px;
    padding-top: 10px;
    height: 55px;
    color: black;
    font-size: 20px;
    background-color: #bbbbbb;
    border: 1px solid #444;
}

#page-preview-wrapper {
    position: relative;
    width: 96%;
    height: 800px;
    margin-right: 2%;
}

#page-preview {
    width: 100%;
    height: 100%;
}

div.resizable {
    background: cyan;
    position: relative;
}

div.resizer {
    z-index: 1000;
    width: 80px;
    height: 80px;
    background: #00fff4;
    border: 5px solid blue;
    position: absolute;
    left: -25px;
    bottom: -40px;
    border-radius: 40px;
    cursor: nesw-resize;

    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

div.form-group {
    padding: 10px;
}

#page-preview-parent {
    position: relative;
    width: 350px;
    height: 800px;
    margin-right: 2%;
}


div.page-preview-size-select-button {
    direction: ltr;
    width: 150px;
    height: 50px;
}

textarea {
    direction: ltr;
}

.file-extra-code {
    background-color: #444;
    color: white;
    height: 300px !important;
    direction: ltr;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Courier New';
}

.equal {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
}