{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="row">
        <div class="col-xl-2"></div>
        <div class="col-xl-8">
            <div id="stats-header" class="row" style="background-color: lightgrey">
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                    #
                </div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    Stat
                </div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 align-right">
                    Value
                </div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 align-center">
                    Last Updated
                </div>

                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 align-center">
                    Trends 24 Hours
                </div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 align-center">
                    Trends Daily
                </div>

                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 align-center">
                    links
                </div>

            </div>
            {% for stat in my_stats %}
                <div class="row stat-row" data-stat-id="{{ stat.id }}">
                    <div class="stat-num col-xs-1 col-sm-1 col-md-1 col-lg-1">
                        {{ forloop.counter }}
                    </div>
                    <div class="stat-name col-xs-2 col-sm-2 col-md-2 col-lg-2">
                        {{ stat.name }}
                    </div>
                    <div class="stat-value col-xs-2 col-sm-2 col-md-2 col-lg-2 align-right">
                        <span>{% if stat.prefix %}
                            {{ stat.prefix }}
                        {% endif %}</span>

                        <span>{{ stat.last_value }}</span>

                        <span>{% if stat.suffix %}
                            {{ stat.suffix }}
                        {% endif %}</span>
                    </div>
                    <div class="stat-time col-xs-2 col-sm-2 col-md-2 col-lg-2 align-center">
                        {{ stat.modified|timesince }} ago
                    </div>

                    <div class="stat-graph-hourly col-xs-2 col-sm-2 col-md-2 col-lg-2 align-center">
                        <canvas class="stat-canvas">not supported</canvas>
                    </div>
                    <div class="stat-graph-daily col-xs-2 col-sm-2 col-md-2 col-lg-2 align-center">
                        <canvas class="stat-canvas">not supported</canvas>
                    </div>

                    <div class="stat-links col-xs-1 col-sm-1 col-md-1 col-lg-1 align-center">

                        <a target="_blank" class="stat-link" href="{{ stat.url }}">
                            <i class="fa fa-link"></i>
                        </a>
                        <a target="_blank" class="stat-link"
                           href="{{ host_name }}/admin/Core/stat/{{ stat.id }}/change/">
                            <i class="fa fa-pencil"></i>
                        </a>
                        <a class="stat-link refresh_button" href="#" data-stat-id="{{ stat.id }}">
                            <i class="fa fa-refresh"></i>
                        </a>

                    </div>
                </div>
                <hr class="stat-hr">
            {% endfor %}
        </div>
        <div class="col-xl-2"></div>
    </div>

{% endblock %}


{% block javascript %}
    <script>
        HOST_URL = '{{ host_url }}';
    </script>

    <script src="{% static 'js/graph.js' %}"></script>
    <script src="{% static 'js/dashboard.js' %}"></script>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}" type="text/css">
{% endblock %}

