{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="row">
        <div class="col-xl-1"></div>
        <div class="col-xl-10">
            <div class="row" style="background-color: lightgrey">
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                    #
                </div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    name
                </div>
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                    value
                </div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    last_updated
                </div>
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                    subscribers
                </div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    page
                </div>
            </div>
            {% for stat in my_stats %}
                <div class="row">
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                        {{ forloop.counter }}
                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                        {{ stat.name }}
                    </div>
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                        <span>{% if stat.prefix %}
                            {{ stat.prefix }}
                        {% endif %}</span>

                        <span>{{ stat.last_value }}</span>

                        <span>{% if stat.suffix %}
                            {{ stat.suffix }}
                        {% endif %}</span>
                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                        {{ stat.modified|timesince }} ago
                    </div>
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                        {{ stat.get_subscribers_count }}
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                        <a target="_blank" href="{{ stat.url }}"> {{ stat.url|truncatechars:30 }}</a>
                    </div>
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                        <a href="http://statreader.herokuapp.com/admin/Core/stat/{{ stat.id }}/change/"> edit </a>
                    </div>
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                        <a href="#" data-stat-id="{{ stat.id }}" class="refresh_button"> refresh </a>
                    </div>

                </div>
            {% endfor %}
        </div>
        <div class="col-xl-1"></div>
    </div>

{% endblock %}


{% block javascript %}

    <script>
        $(".refresh_button").click(function () {
            var stat_id = $(this).attr("data-stat-id");
            var link_holder = $(this);
            var val_holder = $(this).parent().prev().prev().prev().prev().prev().children().eq(1);
            var time_holder = $(this).parent().prev().prev().prev().prev();

            link_holder.html("loading...");
            $.ajax({
                url: "https://statreader.herokuapp.com/stat/update?id=" + stat_id,
                success: function(Data){
                    console.log(Data);
                    link_holder.html("refresh");
                    val_holder.html(Data.value);
                    time_holder.html("0 minutes ago");
                },
                error: function(a, b , c){
                    link_holder.html("refresh");
                }
            });
        })
    </script>

{% endblock %}

